
h1{
  display: flex;
  justify-content: center;
  height: 50px;

}

section.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.search-area{
  display: flex;
  justify-content: center;
}


h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.book.image {
  display: flex;
  flex-flow: row wrap;
  width: 20%vw;
  height: 200px;
}

div.book.cover{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}

p.book.content{
  width: 10px;
  height: 20px;
  display: flex;
}