
h1{
  display: flex;
  justify-content: center;
  height: 50px;

}

section.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.search-area{
  display: flex;
  justify-content: center;
}


h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.book.image {
  display: flex;
  flex-flow: row wrap;
  width: 15%vw;
  height: 200px;
}

div.book.cover{
  
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  position: relative;
}

 p.bkContent{
  width: 115px;
  position: absolute;
  display: flex;
  height: 100px;
  padding-right: 0px;
  padding-left: 0px;
  bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  top: 49px;
  left: 28.427;
  right: 27px;
  flex-direction: row;
  justify-content: space-evenly;
} 

p{
  position: absolute;
  top: 0;
  right: 118.427;
  color: rgba(255,255,255, 1);
  background:linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  margin: auto;
  font-size:xx-small;
}

.class1{
opacity:1;
} 

.class2{
  opacity: 0;
}