
h1{
  display: flex;
  justify-content: center;
  height: 50px;

}

section.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.search-area{
  display: flex;
  justify-content: center;
}


h2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.book.image {
  display: flex;
  flex-flow: row wrap;
  width: 15%vw;
  height: 200px;
}

div.book.cover{
  
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  position: relative;
}

p.bookContent{

  display: flex;
flex-direction: column;
justify-content: space-around;
left: auto;
right: auto;
bottom: 0px;
height: 150px;
width: 132px;
margin-left: 0px;
margin-right: 0px;
align-items: center;
background-color: rgba(0,0,0,0.4);
} 

p{
  position: absolute;
  top: 0;
  right: 118.427;
  color: rgba(255,255,255, 1);
  margin: auto;
  font-size:xxx-small;
}

div.book{
  position: relative;
  margin: 5px
}

div.search-area{
  width: 100%;
  height:35px;
}

#myBtn{
  display: flex;
  flex-direction: column;
  position: relative;
    bottom: 0px;
    top: 221px;
    left: 36px;
    background-color:salmon;
    color:rgba(255,255,255, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    width: 40%;
    height: 10%;
    justify-content: center;
  
}

button#search{
background-color:salmon;
color:rgba(255,255,255, 1);
padding-top: 10px;
padding-bottom: 10px;
border-right-width: 0px;
border-top-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
width: 10%;
height: 35px;
}


input[type=text]{
  background-color:rgba(0,0,0,0.5);
  color: #fff;
  width:75%vw;
  
}

body{
  position: relative;
}



footer{
  position: absolute;
  bottom: 0;
  transition: opacity 5s;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  color:rgba(255,255,255, 1);
  text-align: center;
}

 i.fas.fa-microphone{
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 483.5;
  left: 510.5;
  top: 81.438;
  width: 16px;
  height: 20px;
} 

/*Media Query - Breakpoint:Galaxy Fold (280 x 653) */
@media screen and (max-width:280px) {
/*https://www.bing.com/videos/search?q=how+to+add+background+patterns+in+CSS&view=detail&mid=82112F7F3CE74A32A75782112F7F3CE74A32A757&FORM=VIRE*/
/*code artist*/
body{
position: relative;
background-color: #1f344c;
padding: 0;
margin: 0; 
background-size: 30px 30px;
background-image: radial-gradient(transparent 7px, #3e5c76 7px,
#3e5c76 12px, transparent 12px, transparent 17px, #f0ebd8 17px, 
#f0ebd8 19px, transparent 19px);
color: white;
}

div.search-area{
  display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
  
}
 
footer{
  position: absolute;
  font-size: small;
  width: 100%;
  height: 40px;
  margin-top: 50px;
  bottom: 0;
}

div.search-area{
  justify-content: center;
width: 90%vw;
}

input#blank{
  width:100%vw;
}

}

/* CSS Library Section  */

div.shelf{
  display: flex;
  flex-direction: column;
  height: 25px;
  margin: 16px 0px;
  width: 75%;
  background: rgb(150, 32, 32);
}

div.right.shelf{
  position: absolute;
  right: 0;
  transform:rotate(90deg);

}